body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 100px;
  grid-template-rows: 150px auto 80px;
  background-color: white; }

.headerNav {
  grid-column: 2/12;
  grid-row: 1/2; }
  .headerNav h2 {
    font-family: "Lato", sans-serif;
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    line-height: 1.5em;
    color: black; }
  .headerNav ul {
    list-style: none;
    margin: 0 auto;
    width: 700px; }
    .headerNav ul li {
      display: inline-block; }
      .headerNav ul li a {
        text-decoration: none;
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-size: 1em;
        margin: 0 10px;
        color: black;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .headerNav ul li a:hover {
          color: orangered; }

.movies {
  grid-column: 2/12;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll; }

.singleMovie {
  width: 350px;
  margin-bottom: 20px; }
  .singleMovie .imgWrapper {
    width: 350px;
    height: 480px;
    overflow: hidden; }
  .singleMovie img {
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(100%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
    /* FF 35+ */ }
    .singleMovie img:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-filter: grayscale(0%);
      /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(0%);
      /* FF 35+ */ }
  .singleMovie h2 {
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    line-height: 2.5em; }
  .singleMovie p {
    font-family: "Merriweather", serif;
    font-size: 0.8em;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5em; }
  .singleMovie a {
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 0.8em;
    margin: 0 auto;
    color: black;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: 1.5em; }
    .singleMovie a:hover {
      color: orangered; }

footer {
  grid-column: 2/12;
  grid-row: 3/4; }
  footer h2 {
    color: black;
    font-family: "Merriweather", serif;
    font-size: 1em;
    line-height: 3em;
    text-align: center; }
